@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;
}

html {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  color: #212121;
  background-color: #e0e0a4;
}

section {
  background-color: #0099CC;
}

/* HEADER */
header {
  padding: 0.5em;
  text-align: center;
  font-style: italic;
  color: #f1f1f1;
  background-color: #1c1c1c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

header .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .contenedor h1 a {
  color: #f1f1f1;
  font-size: 3.5rem;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul a {
  padding: 0.8em 1em;
}

header ul li a {
  color: #f1f1f1;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
}

.icon {
  display: none;
}

nav li {
  display: inline-block;
  list-style: none;
}

nav a:hover {
  background-color: #058bce;
}

@media screen and (max-width: 768px) {
  header nav {
    position: fixed;
    left: -100%;
    top: 0;
    width: 80%;
    height: 100vh;
    background: #2471ce;
    -webkit-box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
            box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
    -webkit-transition: left 0.5s;
    transition: left 0.5s;
    z-index: 1;
  }
  #menu:target {
    left: 0;
  }
  .icon {
    display: block;
  }
  .icon_img {
    -webkit-filter: invert(100%);
            filter: invert(100%);
    width: 3rem;
  }
  .close {
    position: absolute;
    left: 2rem;
    top: 2rem;
  }
  header ul {
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header ul li {
    margin: 2rem 0;
  }
  header ul li a {
    font-size: 2.5rem;
  }
}

.hero_post {
  height: 48vh;
  place-content: center;
  background: url("../imagenes/hero/hero_post.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.post {
  padding: 1em;
  margin: 0.5em;
  border-radius: 1em;
}

.post__container {
  margin: 0 auto;
  margin-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post__item {
  width: 30%;
  position: relative;
  overflow: hidden;
}

.post__img {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.post__text {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  padding: 20px;
  width: 100%;
  font-size: 1.5em;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.post__text h2 {
  color: #f1f1f1;
}

.post__text p {
  text-align: center;
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
  color: #f1f1f1;
}

.post__item:hover .post__text {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.post__item:hover .post__img {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
  -webkit-box-shadow: 8px 8px 10px gray;
          box-shadow: 8px 8px 10px gray;
}

.post__text--hidden {
  display: none;
}

@media screen and (max-width: 666px) {
  .post__container {
    padding: 1em;
    margin: 0.5em;
    display: -ms-grid;
    display: grid;
    grid-gap: 1rem;
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
  }
  .post__item {
    margin: 1em;
    width: 45%;
    background-color: #f1f1f1;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .post__text {
    display: none;
  }
  .post__img {
    border-radius: 0em;
  }
  .post__text--hidden {
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    font-family: "lato";
    color: #212121;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .post__item:hover .post__img {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: grayscale(80%);
            filter: grayscale(80%);
  }
}

.agrupar-card {
  padding: 1em;
  margin: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  padding: 1em;
  background-color: #0099CC;
  border-radius: 1.5em;
  text-align: center;
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__articulo {
  padding: 0.5em;
  margin: 1em 0em;
  text-align: center;
}

.card__articulo h3 {
  font-size: 1.6em;
  font-weight: 600;
}

.card__parrafo {
  margin: 0.5em 0em;
  font-size: 1.4em;
  font-weight: 400;
}

@media screen and (max-width: 950px) {
  .agrupar-card {
    padding: 0em;
    margin: 0.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card {
    background-color: #0099CC;
    border-radius: 1.5em;
    text-align: center;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card__articulo {
    padding: 0.5em;
    margin: 1em 0em;
    text-align: center;
  }
  .card__articulo h3 {
    font-size: 2em;
    font-weight: 600;
  }
  .card__parrafo {
    margin: 0.5em 0em;
    font-size: 2em;
    font-weight: 400;
  }
  .historia {
    margin-top: 0.5em;
  }
}

@media screen and (max-width: 650px) {
  .card__articulo h3 {
    font-size: 1.5em;
    font-weight: 600;
  }
  .card__parrafo {
    margin: 0.5em 0em;
    font-size: 1.5em;
    font-weight: 400;
  }
}

.container {
  border-radius: 1.5em;
}

.container .contexto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contact {
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0.5em 0em;
  width: 100%;
  border-bottom: dashed;
  text-align: center;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form label {
  display: none;
}

form input,
form textarea {
  font-size: .8em;
  padding: .5em .5em;
  border-radius: .5em;
  background: #f1f1f1;
  border: none;
  margin-bottom: 1em;
}

form input:focus,
form textarea:focus {
  outline: none;
  background: #f1f1f1;
}

form input::-webkit-input-placeholder,
form textarea::-webkit-input-placeholder {
  font-family: 'Montserrat', sans-serif;
}

form input:-ms-input-placeholder,
form textarea:-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
}

form input::-ms-input-placeholder,
form textarea::-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
}

form input::placeholder,
form textarea::placeholder {
  font-family: 'Montserrat', sans-serif;
}

form input[type=submit] {
  cursor: pointer;
  color: #f1f1f1;
  font-size: 1em;
  padding: 0.5em 1em;
  font-weight: 600;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  letter-spacing: 0.1em;
  border-radius: 0.5em;
  text-transform: uppercase;
  background-color: #1b1b1b;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

form input[type=submit]:hover {
  color: #212121;
  background-color: #f1f1f1;
}

.left {
  padding: 1em;
  margin-top: 1.2em;
  font-size: 1.25em;
  font-weight: 600;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left textarea {
  resize: none;
  max-height: 150px;
}

.left input[type=submit] {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media screen and (max-width: 750px) {
  .container .contexto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contexto .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .social-media-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.more {
  color: #f1f1f1;
  font-size: 1.5em;
  padding: 0.5em 1em;
  font-weight: 600;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  letter-spacing: 0.1em;
  border-radius: 0.5em;
  text-transform: uppercase;
  background-color: #ff7044;
}

.more:hover {
  background-color: #db603a;
}

@media screen and (max-width: 650px) {
  .more {
    font-size: 1.5em;
    font-weight: 600;
  }
}

.social-media-list {
  margin: 1em;
  position: relative;
  font-size: 2.3rem;
  text-align: center;
  width: 100%;
}

.social-media-list li a {
  color: #f1f1f1;
}

.social-media-list li {
  position: relative;
  top: 0;
  left: -20px;
  display: inline-block;
  height: 70px;
  width: 70px;
  margin: 10px auto;
  line-height: 70px;
  border-radius: 50%;
  color: #f1f1f1;
  background-color: #1b1b1b;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  opacity: 0;
  -webkit-box-shadow: 0 0 0 1px #f1f1f1;
          box-shadow: 0 0 0 1px #f1f1f1;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #f1f1f1;
}

.social-media-list li:hover:after {
  opacity: 1;
  -webkit-transform: scale(1.12);
          transform: scale(1.12);
}

.social-media-list li:hover a {
  color: #1c1c1c;
}

/* Begin Media Queries*/
@media screen and (max-width: 760px) {
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 666px) {
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
}

.hero_colaboradores {
  height: 48vh;
  place-content: center;
  background: url("../imagenes/hero/hero_colaboradores.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.colaboradores {
  padding: 1em;
  margin: 0.5em 4.5em;
  border-radius: 1.5em;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.colaboradores p {
  padding: 0.5em;
  margin: 0em 0.5em;
  width: 83%;
  font-size: 2em;
  font-weight: 600;
  color: #212121;
}

.colaboradores__picture img:hover {
  cursor: pointer;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-box-shadow: 8px 8px 10px gray;
          box-shadow: 8px 8px 10px gray;
}

.colaboradores__picture h3 {
  padding: 0.2em;
  font-size: 3em;
  font-weight: 600;
  text-transform: uppercase;
  font-style: italic;
}

@media screen and (max-width: 1152px) {
  .colaboradores__picture {
    padding: 1em;
    margin: 1em;
  }
}

@media screen and (max-width: 870px) {
  .colaboradores p {
    padding: 0.5em;
    margin: 0em 0.5em;
    width: 83%;
    font-size: 1.4em;
    font-weight: 600;
  }
  .colaboradores__picture {
    padding: 1em;
    margin: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .equipo {
    font-size: 2em;
    padding: 0.5em;
    margin: 0.5em 0em;
    width: 100%;
    border-bottom: dashed;
    text-align: center;
  }
}

@media screen and (max-width: 375px) {
  .colaboradores {
    padding-top: 0em;
    margin: 0em;
    margin-top: 0.5em;
  }
  .colaboradores__picture {
    padding: 0em;
    margin: 0em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .colaboradores__picture h4 {
    padding: 0em 1em 1em;
    margin: 0em 0.5em 0.5em;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
    font-style: italic;
  }
}

.hero_consejos {
  height: 48vh;
  place-content: center;
  background: url("../imagenes/hero/hero_consejos.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.consejos {
  padding: 1em;
  margin: 1em;
  background-color: #0099CC;
  border-radius: 1.5em;
  text-align: center;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.consejos__container h3 {
  padding: 0.5em;
  margin: 0.5em;
  font-size: 2em;
}

.consejos__picture img:hover {
  cursor: pointer;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-box-shadow: 8px 8px 10px gray;
          box-shadow: 8px 8px 10px gray;
}

.consejos .consejos__picture {
  width: 20%;
  margin: 1em;
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
}

.consejos__text h3 {
  padding-top: 0.5em;
  font-size: 1.6em;
  font-weight: 600;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: none;
  color: #212121;
}

.consejos__text p {
  font-size: 1.2em;
  font-weight: 600;
  text-decoration: none;
  text-transform: none;
  color: #212121;
}

@media screen and (max-width: 854px) {
  .contenedor--complementos {
    margin: 0;
    padding: 0.5em;
    width: 100%;
  }
  .consejos {
    padding: 1em;
    margin: 1em;
    background-color: #0099CC;
    border-radius: 1.5em;
    text-align: center;
    width: 100%;
  }
  .consejos .consejos__picture {
    width: 30%;
  }
  .app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .plataforma {
    display: none;
  }
  .link {
    background-size: contain;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .consejos__text p {
    padding-top: 1em;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.6em;
    color: #212121;
  }
}

.hero_nosotros {
  height: 48vh;
  place-content: center;
  background: url("../imagenes/hero/hero_nosotros.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nosotros {
  padding: 1em;
  margin: 1em;
  background-color: #0099CC;
  border-radius: 1.5em;
  text-align: center;
  width: 80%;
  min-width: 350px;
}

.nosotros p {
  font-size: 1.4rem;
  line-height: 2em;
  font-weight: 600;
  margin: 1.5em;
  text-align: center;
}

.about-us {
  padding: 1em;
  margin: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.experiencia {
  padding: 1em;
  margin: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.experiencia__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.camino {
  padding: 1em;
  margin: 1em;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.camino li {
  font-size: 1.2rem;
  padding: 0.3em;
  line-height: 2em;
  font-weight: 600;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: start;
  list-style: square;
}

.camino li:hover {
  background-color: #058bce;
}

.camino__img {
  display: none;
}

@media screen and (max-width: 750px) {
  .sostener {
    min-width: 400px;
  }
  p {
    font-size: 1.4rem;
    line-height: 2em;
    font-weight: 600;
    text-align: center;
  }
  .about-us {
    padding: 1em;
    margin: 0.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .experiencia {
    padding: 1em;
    margin: 0.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .camino {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .camino li {
    font-size: 1.2rem;
    padding: 0.3em;
    line-height: 2em;
    font-weight: 600;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: start;
    list-style: square;
  }
  .ruta {
    display: none;
  }
  .camino__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.titulo {
  padding: 0.5em;
  margin: 0.5em 0em;
  font-size: 2em;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  font-weight: 900;
  width: 100%;
  border-bottom: dashed;
  text-align: center;
}

.hero {
  height: 48vh;
  place-content: center;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

img {
  width: 100%;
  border-radius: 1em;
}

.hero {
  background: url("../imagenes/hero/hero_index.jpg") no-repeat;
}

.contenedor--complementos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=estilo.css.map */