@import "base/reset", "base/tipografia", "base/color";
@import "layout/nav", "layout/post", "layout/card", "layout/footer", "layout/btn", "layout/sm", "layout/colaboradores", "layout/consejos", "layout/nosotros";
@import "extend", "mixing";


img {
    width: 100%;
    border-radius: 1em;
    cursor: pointer;
}

.hero {
    @extend %hero;
    background: url("../imagenes/hero/hero_index.jpg") no-repeat;
}


.titulo {
    @extend %titulo
}

.contenedor--complementos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}