@import "base/reset","base/tipografia","base/color";
@import "layout/nav","layout/post","layout/card","layout/footer","layout/btn","layout/sm","layout/colaboradores","layout/consejos","layout/nosotros";

.titulo {
    padding: 0.5em;
    margin: 0.5em 0em;
    font-size: 2em;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    font-weight: 900;
    width: 100%;
    border-bottom: dashed;
    text-align: center;
}

img {
    border-radius: 1em;
}

.hero {
    height: 48vh;
    min-width: 670px;
    place-content: center;
    background: url("../imagenes/hero/hero_index.jpg") no-repeat;
    background-size: cover;
    background-position: center;;
    display: flex;
        flex-direction: column;
}