.hero_colaboradores{

    height: 48vh;
    min-width: 375px;
    place-content: center;
    background: url("../imagenes/hero/hero_colaboradores.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
        flex-direction: column;
}

.colaboradores {
    padding: 1em;
    margin: 0.5em 4.5em;
    border-radius: 1.5em;
    text-align: center;
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;

        &__picture img:hover{
            cursor: pointer;
            transform: scale(0.95);
            box-shadow: 8px 8px 10px gray;
        }

        &__picture h4{
            padding: 0.2em;
            font-size: 3em;
            font-weight: 600;
            text-transform: uppercase;
            font-style: italic;
        }

}


@media screen and (max-width:1152px){
    .colaboradores__picture{
        padding: 1em;
        margin: 1em;
    }
}

@media screen and (max-width:870px){
    .colaboradores__picture{
        padding: 1em;
        margin: 1em;
        display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
    }
    .equipo {
        font-size: 2em;
        padding: 0.5em;
        margin: 0.5em 0em;
        width: 100%;
        border-bottom: dashed;
        text-align: center;
    }
}
