.container {
    border-radius: 1.5em;
}

.container .contexto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contact {
    font-size: 1.5em;
    padding: 0.5em;
    margin: 0.5em 0em;
    width: 100%;
    border-bottom: dashed;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;

    label {
        display: none;
    }

    input,
    textarea {
        font-size: .8em;
        padding: .5em .5em;
        border-radius: .5em;
        background: $color-a;
        border: none;
        margin-bottom: 1em;

    }

    input:focus,
    textarea:focus {
        outline: none;
        background: $color-a;
    }

    input::placeholder,
    textarea::placeholder {
        font-family: 'Montserrat', sans-serif;
    }

    input[type=submit] {
        cursor: pointer;
        color: $color-a;
        font-size: 1em;
        padding: 0.5em 1em;
        font-weight: 600;
        width: fit-content;
        letter-spacing: 0.1em;
        border-radius: 0.5em;
        text-transform: uppercase;
        background-color: rgb(27, 27, 27);
        transition: all .2s ease-in-out;

        &:hover {
            color: $color-body;
            background-color: $color-a;
            ;
        }
    }
}

.left {
    padding: 1em;
    margin-top: 1.2em;
    font-size: 1.25em;
    font-weight: 600;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    textarea {
        resize: none;
        max-height: 150px;
    }

    input[type=submit] {
        align-self: flex-end;
    }
}



@media screen and (max-width:750px) {
    .container .contexto {
        min-width: 420px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .contexto .right {
        display: flex;
        justify-content: center;
    }
   .social-media-list{
        display: flex;
    }
}