/* HEADER */
header {
    padding: 0.5em;
    text-align: center;
    font-style: italic;
    color: $color-a;
    background-color: $color-background-nav;
    display: flex;
        justify-content: space-around;
        align-items: center;
}
.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

header .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .contenedor h1 a {
    color: $color-a;
    font-size: 3.5rem;
}

header ul {
    display: flex;
}

header ul a {
    padding: 0.8em 1em;
}

header ul li a {
    color:$color-a;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;

}

.icon {
    display: none;
}

nav li {
    display: inline-block;
    list-style: none;
}

nav a:hover {
    background-color: #058bce;
}




@media screen and (max-width: 768px) {
    header nav {
        position: fixed;
        left: -100%;
        top: 0;
        width: 80%;
        height: 100vh;
        background: rgb(36, 113, 206);
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
        transition: left 0.5s;
        z-index: 1;
    }

    #menu:target {
        left: 0;
    }

    .icon {
        display: block;
    }

    .icon_img {
        filter: invert(100%);
        width: 3rem;
    }

    .close {
        position: absolute;
        left: 2rem;
        top: 2rem;
    }

    header ul {
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header ul li {
        margin: 2rem 0;
    }

    header ul li a {
        font-size: 2.5rem;
    }
}

